<% Note.order(created_at: :desc).each do |note| %>

<a href="/notes/<%= note.id %>"><%= note.text %></a>
<br/>
By: <a href="/users/<%= User.find(note.user_id).id %>"><%= User.find(note.user_id).username %></a>

<br/>
<br/>
<br/>

<% end %>