<div align="center">
  <div class="spacer-30"></div>
  <h2>Sign Up</h2>
  <div class="spacer-40"></div>
</div>


<%if @errors %>
  <% @errors.messages.each do |k,v| %>
    <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Error!</strong> <%= k %>: <%= v[0] %>
    </div>
  <% end %>
<% end %>

<!-- single form container -->
  <div class="single-form-container">
    <div class="row">
      <div class="col-md-1 mobile-hide"></div>
      <div class="col-md-10">
      <form method="POST" action="/users">
        <div>
         <p class="form-label">Username</p>
          <input class="input-style" type="text" name="username" />
          <p class="form-label">Tagline</p>
          <input class="input-style" type="text" name="tagline" />
           <p class="form-label">Password</p>
          <input class="input-style" type="password" name="password" />
          <div align="center">
            <input class="submit-login" type="submit" value="Sign Up">
          </div>
          <div class="height-50">
        </div>
      </form>
      </div>
      <div class="col-md-1 mobile-hide"></div>
    </div>
  </div>
<!-- #/End of standard-cotainer -->