<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<style type="text/css">
  header a{
    color:white;
  }
</style>
<body>
  <header style="background:#333;">
      <a href="/">Logo</a>
    <% if current_user %>
      <a href="/users/<%= current_user.id %>">PROFILE</a>
      <a href="/notes/new">POST</a>
    <% else %>
      <a href="/session/new">Sign in</a>
    <% end %>
  </header>


  <%= yield %>
</body>
</html>
