<section class="tag-line-container">
  <div class="container">
    <div class="spacer-100"></div>
    <div class="text-align-center" class="col-md-12">
              <h1 align="center" style="padding-bottom:20px;">If you can't describe it in words, leave.</h1>

     <form method="get" action="search">
      <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-xs-9"><input name="query" type="text" style="height: 30px; width: 100%; margin: 0; padding: 0; border-width: 0;" />
          <div align="left" style="margin-top:10px; color:white;">
          <input type="checkbox" name="users_only" value="1" class="search-bar" style="margin-right:10px;" /> Search for Username
          </div>
          </div>
          <div class="col-xs-3 text-align-left"><input class="search" align="right" type="submit" value=""></div>
        </div>

      </div>
      <div class="col-md-2"></div>
      </div>
      </form>
    </div>
    <div class="spacer-100"></div>
  </div>
</section>